@import "tailwindcss";

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
}

body {
  font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", Georgia, serif;
}
.navbar-logo {
  height: 40px; /* tweak to your navbar height */
  width: auto;
}
